.list-group-item-nav{
    display: block;
    padding: 10px 15px 10px 26px;
    cursor: pointer;
}
.list-group-item-nav~.child-nav-body{
    display: none;
}
.child-nav-body.open{
    display: block;
}
.octicon.octicon-chevron-down.hide{
    opacity: 0;
}
.gb-markdown hr{
    height: 1px;
    background-color: #e8e8e8;
}
.gb-markdown h1{
    font-size: 2.2em;
    color: #333;
    font-weight: normal;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
}
.gb-markdown h2{
    font-size: 1.4em;
    color: #444;
    font-weight: bold;
}
.gb-markdown h3{
    font-size: 1.1em; 
    color: #444;
    font-weight: bold;
}
.gb-markdown h4,.gb-markdown h5,.gb-markdown h6{
    font-size: 1em;
}
.modal>.list-group .list-group-item, .panel>.list-group .list-group-item{
    background-color: #f5f5f6;
    border: none;
    padding-left: 26px;
}
.list-group{
    background-color: #f5f5f6;
    padding: 20px 0px;
}
.list-group .octicon{
    color: #828282;
    margin-right: 5px;
}
.list-group .octicon::before{
    content: "";
}
.list-group .octicon.octicon-chevron-down{
    background: url(../../images/jian.png) no-repeat;
    transform: translate(0,-2px);
    width: 9px;
    height: 6px;
}
.list-group .octicon.octicon-chevron-right{
    background: url(../../images/right-jian.png) no-repeat;
    width: 9px;
    height: 9px;
}
.list-group .list-group-item:focus, .list-group .list-group-item:hover{
    color: #5dbdf9;
}
.list-group .list-group-item.active{
    color: #5dbdf9;
    border-left: none !important;
}
.panel{
    border:none;
}
.gb-page-wrapper{
    padding-bottom: 600px;
}
.container{
    min-width: 1200px; 
}
.container>.row>.col-md-3{
    padding-left: 0px;
    width: 275px;
}
.container>.row>.col-md-9{
    padding-right: 0px;
    padding-left: 25px;
}
.gb-page-body{
    min-width: 1200px;
}
.gb-page-body .gb-page-inner{
    margin: 40px 0 30px;
}
.header{
    min-width: 1200px;
    /* height: 250px;
    background: url(../../images/doc-header-bg.jpg) no-repeat; */
    background-position: center;
}
.header a{
    text-decoration: none;
}
#book-search-input{
    background-color: #f5f5f6;
    padding: 16px 10px 0;
    float: inherit;
    position: relative;
}
#book-search-input i{
    position: absolute;
    bottom: 2px;
    right: 20px;
    font-size: 17px;
    color: #CCCCCC;
}
#book-search-input .menus-title{ 
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#book-search-input input{
    height: 30px;
    padding: 0 30px 0 10px;
    width: 100%;
    border: 1px solid #D9D9D9;
    font-size: 12px;
}
.header .header-search-body{
    width: 1200px;
    margin: 0 auto;
    height: 180px;
    padding: 0 40px;
}
.header .header-search-body .header-search{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
}
.header .header-search-body .header-search .header-search-title{
    font-size: 38px;
    color: #ffffff;
    margin-bottom: 30px;
}
.header .header-search-body .header-search .header-search-input .book-search input{
    width: 610px;
    height: 44px;
    border: none;
    border-radius: 0;
    float: left;
    padding-left: 10px;
}
.header .header-search-body .header-search .header-search-input .header-search-label ul{
    padding: 0;
}
.header .header-search-body .header-search .header-search-input .header-search-label ul li{
    list-style: none;
    float: left;
    font-size: 14px;
    margin-right: 25px;
    color: #cccccc;
    cursor: pointer;
}
.header .header-search-body .header-search .header-search-input .header-search-label ul .search-label-title{
    color: #999999;
    cursor: unset;
    margin-right: 15px;
}
.header .header-search-body .header-search .header-search-input .header-search-label ul .search-label:hover{
    color: #19bbff;
}
.header .header-search-body .header-search .header-search-input .book-search button{
    width: 140px;
    height: 44px;
    border: none;
    border-radius: 0;
    background-color: #5dbdf9;
    color: #ffffff;
    font-size: 16px;
}
.header .header-body {
    width: 1200px;
    margin: 0 auto;
    height: 70px;
    padding-top: 1px
}

.header .header-body .header-logo {
    display: inline-block;
    width: 143px;
    height: 28px;
    background-size: contain;
    margin-top: 21px;
    margin-right: 21px
}
.header .header-body .header-logo img{
    width: 100%;
}
.header .header-body .plush:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 18px;
    width: 1px;
    background: hsla(0,0%,100%,.2);
}
.header .header-body .plush {
    vertical-align: top;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    display: inline-block;
    line-height: 35px;
    padding-left: 25px;
    position: relative;
    cursor: pointer;
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out
}
.header .header-body .plush .home {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.header .header-body .header-menu {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    line-height: 70px
}

.header .header-body .header-menu .header-user-center-title {
    color: #fff;
    font-size: 18px;
    margin-left: 20px
}

.header .header-body .header-menu .header-menu-ul .header-menu-ul-li {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    margin: 0 21px;
    cursor: default;
    position: relative
}

.header .header-body .header-menu .header-menu-ul .header-menu-ul-li .header-menu-a {
    color: #fff;
    display: block
}

.header .header-body .header-menu .header-menu-ul .header-menu-ul-li.active {
    color: #19bbff
}

.header .header-body .header-menu .header-menu-ul .header-menu-ul-li.active .header-menu-a {
    color: #19bbff
}

.header .header-body .header-menu .header-menu-ul .header-menu-ul-li .header-menu-ul-body {
    position: absolute;
    display: none;
    background-color: #0a111c;
    padding: 15px 28px 35px 53px;
    top: 68px;
    margin-left: -53px;
    white-space: nowrap
}

.header .header-body .header-menu .header-menu-ul .header-menu-ul-li .header-menu-ul-body.other-width {
    width: 453px
}

.header .header-body .header-menu .header-menu-ul .header-menu-ul-li .header-menu-ul-body.other-width .header-menu-li-menu {
    float: left
}

.header .header-body .header-menu .header-menu-ul .header-menu-ul-li .header-menu-ul-body .header-menu-li-menu {
    line-height: normal;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    padding: 0;
}

.header .header-body .header-menu .header-menu-ul .header-menu-ul-li .header-menu-ul-body .header-menu-li-menu li {
    margin-bottom: 20px;
    color: #999;
    font-size: 12px;
    list-style: none;
    box-sizing: unset;
}

.header .header-body .header-menu .header-menu-ul .header-menu-ul-li .header-menu-ul-body .header-menu-li-menu li.li-title {
    padding-top: 10px;
    margin-bottom: 20px;
    height: 20px;
    font-size: 16px;
    color: #ffffff;
}

.header .header-body .header-menu .header-menu-ul .header-menu-ul-li .header-menu-ul-body .header-menu-li-menu li:last-child {
    margin-bottom: 0
}

.header .header-body .header-menu .header-menu-ul .header-menu-ul-li .header-menu-ul-body .header-menu-li-menu li a {
    color: #bbb;
    font-size: 14px;
    white-space: nowrap;
}

.header .header-body .header-menu .header-menu-ul .header-menu-ul-li .header-menu-ul-body .header-menu-li-menu li a.active,.header .header-body .header-menu .header-menu-ul .header-menu-ul-li .header-menu-ul-body .header-menu-li-menu li a:hover {
    color: #19bbff
}

.header .header-body .header-menu .header-menu-ul .header-menu-ul-li .header-menu-ul-body .header-menu-li-menu li .header-menu-li-menu-hot,.header .header-body .header-menu .header-menu-ul .header-menu-ul-li .header-menu-ul-body .header-menu-li-menu li .header-menu-li-menu-beta,.header .header-body .header-menu .header-menu-ul .header-menu-ul-li .header-menu-ul-body .header-menu-li-menu li .header-menu-li-menu-new {
    display: inline-block;
    width: 36px;
    height: 14px;
    padding: 0 5px;
    margin-left: 8px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    vertical-align: 1px;
    transform: skew(-15deg);
    background-color: #ff8d27;
}

.header .header-body .header-menu .header-menu-ul .header-menu-ul-li .header-menu-ul-body .header-menu-li-menu li .header-menu-li-menu-hot span,.header .header-body .header-menu .header-menu-ul .header-menu-ul-li .header-menu-ul-body .header-menu-li-menu li .header-menu-li-menu-beta span,.header .header-body .header-menu .header-menu-ul .header-menu-ul-li .header-menu-ul-body .header-menu-li-menu li .header-menu-li-menu-new span {
    color: #ffffff;
    display: inline-block;
    transform: skew(15deg);
}

.header .header-body .header-menu .header-menu-ul .header-menu-ul-li .header-menu-ul-body .header-menu-li-menu li .header-menu-li-menu-new {
    background-color: #19bbff;
}

.header .header-body .header-menu .header-menu-ul .header-menu-ul-li .header-menu-ul-body .header-menu-li-menu li .header-menu-li-menu-beta {
    background-color: #777;
}

.header .header-body .header-menu .header-menu-ul .header-menu-ul-li:hover {
    color: #19bbff
}

.header .header-body .header-menu .header-menu-ul .header-menu-ul-li:hover .header-menu-a {
    color: #19bbff
}

.header .header-body .header-menu .header-menu-ul .header-menu-ul-li:hover .header-menu-ul-body {
    display: block;
    z-index: 7;
}

.header .header-body .en_US .header-menu-ul .header-menu-ul-li {
    margin: 0 15px
}

.header .header-body .header-user {
    float: right;
    height: 70px;
    line-height: 70px;
    font-size: 14px
}

.header .header-body .header-user .header-user-no-login {
    float: left
}

.header .header-body .header-user .header-user-no-login>li {
    float: left
}

.header .header-body .header-user .header-user-no-login .header-user-login {
    margin-right: 30px
}

.header .header-body .header-user .header-user-no-login .header-user-login a {
    color: #c6cace
}

.header .header-body .header-user .header-user-no-login .header-user-login a:hover {
    color: #19bbff
}

.header .header-body .header-user .header-user-no-login .header-user-reg a {
    color: #fff
}

.header .header-body .header-user .header-user-no-login .header-user-reg a:hover {
    color: #19bbff
}

.header .header-body .header-user .header-user-is-login {
    float: left;
    position: relative;
    margin-left: 37px
}

.header .header-body .header-user .header-user-is-login::before {
    content: '';
    display: block;
    width: 1px;
    height: 9px;
    background-color: rgba(255,255,255,.2);
    position: absolute;
    margin-top: 30px
}

.header .header-body .header-user .header-user-is-login>li {
    float: left
}

.header .header-body .header-user .header-user-is-login .header-user-message {
    margin: 0 21px;
    position: relative
}

.header .header-body .header-user .header-user-is-login .header-user-message>i {
    color: rgba(255,255,255,.5);
    cursor: pointer
}

.header .header-body .header-user .header-user-is-login .header-user-message>.h-u-m-number {
    position: absolute;
    display: inline-block;
    top: 18px;
    left: 20px;
    color: #fff;
    font-size: 12px;
    background-color: #fb892d;
    height: 15px;
    line-height: 14px;
    border-radius: 7px;
    padding: 0 4px;
    text-align: center
}

.header .header-body .header-user .header-user-is-login .header-user-message>.h-u-m-m {
    position: absolute;
    transition: height .3s;
    height: 0;
    overflow: hidden;
    width: 430px;
    top: 60px;
    right: -15px
}

.header .header-body .header-user .header-user-is-login .header-user-message>.h-u-m-m.show {
    height: 270px;
    z-index: 99
}

.header .header-body .header-user .header-user-is-login .header-user-message>.h-u-m-m .h-u-m-m-content {
    background-color: #fff;
    border-top: 1px solid #19bbff;
    font-size: 12px;
    margin: 10px auto;
    padding: 0 20px 20px;
    max-height: 250px;
    width: 400px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1)
}

.header .header-body .header-user .header-user-is-login .header-user-message>.h-u-m-m .h-u-m-m-content::before {
    content: "";
    display: block;
    position: relative;
    margin: -10px 0 0 363px;
    border-left: 5px;
    border-right: 5px;
    border-bottom: 6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent #19bbff
}

.header .header-body .header-user .header-user-is-login .header-user-message>.h-u-m-m .h-u-m-m-content .h-u-m-m-header {
    height: 49px;
    border-bottom: 1px solid #e8eaee;
    line-height: 49px
}

.header .header-body .header-user .header-user-is-login .header-user-message>.h-u-m-m .h-u-m-m-content .h-u-m-m-header .h-u-m-m-title {
    font-size: 14px;
    color: #262d3c
}

.header .header-body .header-user .header-user-is-login .header-user-message>.h-u-m-m .h-u-m-m-content .h-u-m-m-header>a {
    float: right
}

.header .header-body .header-user .header-user-is-login .header-user-message>.h-u-m-m .h-u-m-m-content .h-u-m-m-list {
    margin-top: 16px;
    font-size: 12px
}

.header .header-body .header-user .header-user-is-login .header-user-message>.h-u-m-m .h-u-m-m-content .h-u-m-m-list li {
    height: 30px;
    line-height: 30px;
    margin: 2px 0
}

.header .header-body .header-user .header-user-is-login .header-user-message>.h-u-m-m .h-u-m-m-content .h-u-m-m-list li>a {
    display: inline-block;
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #5a6169
}

.header .header-body .header-user .header-user-is-login .header-user-message>.h-u-m-m .h-u-m-m-content .h-u-m-m-list li>a:hover {
    color: #19bbff
}

.header .header-body .header-user .header-user-is-login .header-user-message>.h-u-m-m .h-u-m-m-content .h-u-m-m-list li>span {
    display: inline-block;
    vertical-align: top;
    float: right;
    color: #8f959b
}

.header .header-body .header-user .header-user-is-login .header-user-head {
    margin-left: 30px;
    position: relative;
    cursor: pointer
}

.header .header-body .header-user .header-user-is-login .header-user-head .h-u-h-c-b {
    position: absolute;
    height: 0;
    overflow: hidden;
    transition: height .3s;
    width: 129px;
    top: 60px;
    left: -42px;
    cursor: default
}

.header .header-body .header-user .header-user-is-login .header-user-head .h-u-h-c-b.father.show {
    height: 260px;
    z-index: 99
}

.header .header-body .header-user .header-user-is-login .header-user-head .h-u-h-c-b.other.show {
    height: 160px
}

.header .header-body .header-user .header-user-is-login .header-user-head .h-u-h-c-b .header-user-head-content {
    background-color: #25272e;
    border-top: 1px solid #19bbff;
    font-size: 12px;
    margin-top: 10px
}

.header .header-body .header-user .header-user-is-login .header-user-head .h-u-h-c-b .header-user-head-content::before {
    content: "";
    display: block;
    position: relative;
    margin: -10px auto;
    border-left: 5px;
    border-right: 5px;
    border-bottom: 6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent #19bbff
}

.header .header-body .header-user .header-user-is-login .header-user-head .h-u-h-c-b .header-user-head-content .h-u-h-c-username {
    height: 43px;
    text-align: center;
    color: #fff;
    line-height: 43px;
    margin-top: 10px;
    border-bottom: 1px solid #5a6169;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.header .header-body .header-user .header-user-is-login .header-user-head .h-u-h-c-b .header-user-head-content .h-u-h-c-setting {
    margin-top: 5px
}

.header .header-body .header-user .header-user-is-login .header-user-head .h-u-h-c-b .header-user-head-content .h-u-h-c-setting li {
    height: 50px;
    line-height: 50px;
    padding-left: 20px
}

.header .header-body .header-user .header-user-is-login .header-user-head .h-u-h-c-b .header-user-head-content .h-u-h-c-setting li a {
    color: #c6cace
}

.header .header-body .header-user .header-user-is-login .header-user-head .h-u-h-c-b .header-user-head-content .h-u-h-c-setting li a i {
    font-size: 16px;
    margin-right: 7px
}

.header .header-body .header-user .header-user-is-login .header-user-head .h-u-h-c-b .header-user-head-content .h-u-h-c-setting li a:hover {
    color: #fff
}

.header .header-body .header-user .header-user-is-login .header-user-head:hover .header-user-head-body {
    border: 2px solid #19bbff
}

.header .header-body .header-user .header-user-is-login .header-user-head .header-user-head-body {
    margin: 13px 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid transparent
}

.header .header-body .header-user .header-user-is-login .header-user-head .header-user-head-body img {
    width: 100%
}

.header .header-body .header-user .header-user-is-login .en_US .h-u-h-c-b {
    width: 180px;
    left: -68px
}

.header .header-body .header-user .header-user-is-login .en_US .h-u-h-c-b .header-user-head-content .h-u-h-c-setting li {
    text-align: left;
    padding-left: 17px
}

.header .header-body .header-user .header-develop {
    float: left;
    margin-left: 30px
}
.header .header-body .doc-title {
  vertical-align: top;
  font-size: 14px;
  font-weight: 400;
  color: #099bff;
  display: inline-block;
  line-height: 35px;
  padding-left: 25px;
  position: relative;
  cursor: pointer;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  padding-left: 50px;
  margin-top: 21px;
}

.header .header-body .header-user .header-develop>a {
    color: #fff;
    border: 1px solid #fff;
    line-height: 1;
    padding: 9px 15px;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    font-size: 12px;
}

.header .header-body .header-user .header-develop>a .header-developer-icon {
    background: url(/v4/static/common/file/developer-center.png) no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    transition: all .5s;
    transform: rotateY(0deg)
}

.header .header-body .header-user .header-develop>a:hover {
  color: #099bff;
  border-color: #099bff
}

.header .header-body .header-user .header-develop>a:hover .header-developer-icon {
    transform: rotateY(180deg)
}

.header .header-body .en_US .header-develop {
    margin-left: 0
}

.header .header-body .en_US .header-user-is-login {
    margin-left: 0
}

.header .li-hide {
    display: none
}
  .footer {
    height: 341px;
    background-color: #25272e;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-width: 1200px;
  }
  .footer ul{
      padding: 0;
  }
  .footer ul li{
      list-style: none;
  }
  .footer .footer-body {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
  }
  .footer .footer-body .footer-body-content {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .footer .footer-body .footer-body-content > div {
    display: inline-block;
    margin-top: 46px;
    vertical-align: top;
  }
  .footer .footer-body .footer-body-content > div .footer-body-content-title {
    font-size: 14px;
    color: #ffffff;
  }
  .footer .footer-body .footer-body-content > div .footer-b-c-b {
    width: 100%;
    margin-top: 26px;
    font-size: 14px;
  }
  .footer .footer-body .footer-body-content > div .footer-b-c-b .footer-b-c-u .footer-b-c-u-l {
    margin-bottom: 15px;
    font-size: 12px;
    line-height: normal;
    height: 15px;
  }
  .footer .footer-body .footer-body-content > div .footer-b-c-b .footer-b-c-u .footer-b-c-u-l .footer-b-c-u-l-i {
    width: 30px;
    vertical-align: bottom;
    margin-right: 5px;
  }
  .footer .footer-body .footer-body-content > div .footer-b-c-b .footer-b-c-u .footer-b-c-u-l span {
    color: #8f959b;
  }
  .footer .footer-body .footer-body-content > div .footer-b-c-b .footer-b-c-u .footer-b-c-u-l a {
    font-size: 12px;
    color: #8f959b;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .footer .footer-body .footer-body-content > div .footer-b-c-b .footer-b-c-u .footer-b-c-u-l a:hover {
    color: #19bbff;
  }
  .footer .footer-body .footer-body-content > div .footer-b-c-b .footer-b-c-u .footer-b-c-u-l a.news-more {
    color: #666666;
  }
  .footer .footer-body .footer-body-content > div .footer-b-c-b .footer-b-c-u .footer-b-c-u-l a.news-more:hover {
    color: #1496cc;
  }
  .footer .footer-body .footer-body-content > div.footer-body-content-qrcode.other-width {
    width: 22%;
  }
  .footer .footer-body .footer-body-content > div.footer-body-content-qrcode .footer-b-c-b-r-p {
    color: #999999;
    font-size: 12px;
    margin-bottom: 11px;
  }
  .footer .footer-body .footer-body-content > div.footer-body-content-qrcode .footer-b-c-b-r {
    background: url(/v4/static/common/file/qrcode.png) no-repeat;
    background-size: contain;
    width: 113px;
    height: 113px;
    margin-left: -4px;
  }
  .footer .footer-body .footer-body-content > div.footer-body-content-news {
    max-width: 29%;
  }
  .footer .footer-body .footer-body-content > div.footer-body-content-about.other-width {
    width: 22%;
  }
  .footer .footer-body .footer-body-content > div.footer-body-content-developer.other-width {
    width: 22%;
  }
  .footer .footer-body .footer-body-lang {
    height: 40px;
    width: 100%;
    padding-top: 27px;
    border-top: 1px solid #383838;
    border-bottom: 1px solid #383838;
    box-sizing: initial;
  }
  .footer .footer-body .footer-body-lang .footer-body-lang-content {
    margin-bottom: 15px;
  }
  .footer .footer-body .footer-body-lang .footer-body-lang-content ul {
    margin: 0;
    padding: 0;
  }
  .footer .footer-body .footer-body-lang .footer-body-lang-content ul li {
    list-style: none;
    display: inline-block;
    margin-right: 35px;
  }
  .footer .footer-body .footer-body-lang .footer-body-lang-content ul li a {
    color: #666666;
    font-size: 12px;
  }
  .footer .footer-body .footer-body-lang .footer-body-lang-content ul li a:hover {
    color: #19bbff;
  }
  .footer .footer-body .footer-body-lang .footer-body-lang-content ul li.content-title {
    color: #999999;
    font-size: 12px;
    width: 83px;
    margin-right: 0;
  }
  .footer .footer-body .footer-body-lang .footer-body-lang-icon {
    background: url(/v4/static/common/file/footer-lang-icon.png) no-repeat;
    height: 28px;
    width: 28px;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
  }
  .footer .footer-body .footer-body-lang > span {
    font-size: 13px;
    color: #ffffff;
    margin: 0 64px 0 18px;
  }
  .footer .footer-body .footer-body-lang > a {
    font-size: 12px;
    color: #8f959b;
    margin-right: 37px;
  }
  .footer .footer-body .footer-body-lang > a:hover {
    color: #19bbff;
  }
  .footer .footer-body .footer-body-copyright {
    font-size: 12px;
    color: #8f959b;
    margin-top: 26px;
  }
  .footer .footer-body .footer-body-copyright p {
    margin-bottom: 8px;
  }
  .footer .footer-body .footer-body-copyright a {
    color: #8f959b;
    font-size: 12px;
    margin-left: 12px;
  }
  .footer .footer-body .footer-body-copyright a:hover {
    color: #19bbff;
  }
  .footer.footer-usercenter {
    height: 240px;
    background-color: transparent;
  }
  .footer.footer-usercenter .footer-body-lang {
    border-top: 1px solid #c6cace;
  }
  .footer.footer-usercenter .footer-body-lang > span {
    color: #393e4c;
  }
  .footer.footer-usercenter .footer-body-lang > a:hover {
    color: #393e4c;
  }
    .footer a {
    font-size: 14px;
    text-decoration: none;
    color: #19bbff;
    transition: all .2s;
}
.footer a:hover {
    color: #40d8ff;
}


.suspension {
    display: none;
    position: fixed;
    bottom: 120px;
    right: 20px;
    z-index: 10
}

.suspension .suspension-top {
    width: 44px;
    height: 132px;
    font-size: 12px;
    color: #19BBFF;
    background-color: #393E4C
}

.suspension .suspension-top .suspension-item {
    width: 100%;
    height: 44px;
    text-align: center;
    cursor: pointer;
    position: relative
}

.suspension .suspension-top .suspension-item .item-i {
    display: inline-block;
    color: #FFF;
    width: 75%;
    margin-top: 10px
}

.suspension .suspension-top .suspension-item .item-i i {
    font-size: 20px
}

.suspension .suspension-top .suspension-item .item-text {
    display: none;
    text-decoration: none;
    width: 75%;
    margin-top: 6px;
    font-size: 12px
}

.suspension .suspension-top .suspension-item:hover {
    background-color: #282B35
}

.suspension .suspension-top .suspension-item:hover .item-i {
    display: none
}

.suspension .suspension-top .suspension-item:hover .item-text {
    display: inline-block
}

.suspension .suspension-bottom {
    width: 44px;
    height: 44px;
    margin-top: 5px;
    background-color: #19bbff;
    cursor: pointer;
    display: none;
    color: #fff;
    padding-top: 1px;
    text-align: center
}

.suspension .suspension-bottom i {
    margin-top: 8px;
    font-size: 20px;
    display: block
}

/* h5 style */
.h5-header {
    top: 0;
    z-index: 99;
    background-color: #0a111c;
    height: 55px;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    display: none;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.h5-header .right {
    display: flex;
    align-items: center;
}
.h5-header .iconsymbol {
    width: 20px;
    height: 20px;
}
.h5-header .logo {
    width: 108px;
    height: 23px;
}
.footer-wrapper {
    display: none;
    padding: 15px;
    background-color: #222327;
    font-size: 14px; /*no*/
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer-wrapper .link-item {
    display: flex;
    justify-content: space-between;
    font-size: 14px; /*no*/
    color: #fff;
    height: 55px;
    line-height: 55px;
    border-bottom: 1px solid #444;
    padding: 0 9px;
    
}
.footer-wrapper .link-item .icon-thin-arrow-right {
    font-size: 14px !important;
}
.footer-wrapper .link-item .iconyoujiantou {
    color: #555;
}
.footer-wrapper .contract-box {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: #343536;
    padding: 12.5px 15px;
    margin-top: 21px;
    margin-bottom: 10px;
}
.footer-wrapper .contract-box .iconzixundianhua {
    margin-right: 5px;
}
.footer-wrapper .color999 {
    color: #999;
}
.footer-wrapper .contract-text {
    line-height: 19px;
    color: #999;
    padding-left: 19px;
}
.footer-wrapper .qcode-box {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 89px;
    margin-top: 26.5px;
    margin-bottom: 47.5px;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    line-height: 21px;
    padding: 0 14px;
}
.footer-wrapper .qcode-box .qcode-desc {
    font-size: 12px; /*no*/
    color: #999;
}
.footer-wrapper .qcode-box .qcode-img {
    width: 88.5px;
    height: 88px;
}
.footer-wrapper .bottom-logo {
    width: 107px;
    height: 21px;
    display: block;
    margin: 0 auto 19px;
}
.footer-wrapper .copyright {
    text-align: center;
    font-size: 12px; /*no*/
    color: #666;
    margin-bottom: 60px;
}
.menu-wrapper {
    height: 0%;
    overflow-y: auto;
    width: 100%;
    background-color: #222327;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    transition: height .3s;
}
.menu-wrapper.show{
    height: 100%;
}
.menu-wrapper .menu-header{
    height: 55px;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222327;
}
.menu-wrapper .logo{
    width: 108px;
    height: 23px;
}
.menu-wrapper .close-icon{
    width: 20px;
    height: 20px;
}
.menu-wrapper .menu-content-wrapper {
    color: #fff;
    font-size: 14px; /*no*/
}
.menu-wrapper .menu-level-1 {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid #333;
    padding: 0 15px;
    color: #fff;
    font-size: 14px; /*no*/
  }
  .menu-wrapper .menu-level-1 a{
    color: #fff;
  }
  .menu-wrapper .menu-level-1 .iconfont {
    font-size: 12px; /*no*/
  }
  .menu-wrapper .menu-level-1 .icon-thin-arrow-right {
    transition: 0.6s;
    transform: rotate(90deg);
  }
  .menu-wrapper .menu-level-1.menu-open .icon-thin-arrow-right{
      transform: rotate(270deg);
      color: #19bbff;
    }
  .menu-wrapper  .menu-level-2-wrapper {
    transition: 0.8s;
    background-color: #18181b;
    border-bottom: 1px solid #333;
    opacity: 0;
    max-height: 0;
    height: 0;
    overflow: hidden;
}
.menu-wrapper .menu-level-2 .icon-thin-arrow-right {
    font-size: 12px !important;
}
.menu-wrapper  .menu-level-2-wrapper.show{
    opacity: 1;
    max-height: 800px;
    height: auto;
  }
  .menu-wrapper  .menu-level-2 {
    box-sizing: border-box;
    color: #ccc;
    height: 43px;
    line-height: 43px;
    margin: 0 15px;
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;
  }
  .menu-wrapper  .menu-level-2 a {
    color: #ccc;
  }
  .menu-wrapper  .menu-level-2 .iconyoujiantou {
    color: #555;
  }
  .menu-wrapper  .menu-level-2:last-child {
    border-bottom: none;
  }

  .footer-feedback{
    border-top: 1px solid #E7E7E7;
    /* min-height: 200px; */
    margin: 40px auto;
    padding-top: 40px;
  }
  .footer-feedback .feedback-tip{
    font-size: 14px;
    color: #333333;
    display: inline-block;
    vertical-align: middle;
    margin-right: 18px;
  }
  .footer-feedback .feedback-button{
      width: 100px;
      height: 36px;
      line-height: 30px;
      color: #333333;
      font-size: 14px;
      border: 1px solid rgba(217, 217, 217, 0.6);;
      outline: none;
      margin-right: 12px
  }
  .footer-feedback .feedback-button:hover,.footer-feedback .feedback-button.active{
    border: 1px solid #5DBDF9;
    color: #5DBDF9;
  }
  .footer-feedback .feedback-button i{
    margin-right: 5px;
  }
  .footer-feedback .feedback-result{
    background-color: #F5F5F6;
    color: #333333;
    font-size: 14px;
    padding: 25px 26px;
    margin-top: 20px;
  }
  .footer-feedback .feedback-result i{
      margin-right: 10px;
  }
  .footer-feedback .feedback-result a{
    margin-left: 14px;
    color: #5DBDF9;
    text-decoration: none;
}

.footer-feedback .feedback-content{
    background-color: #F5F5F6;
    color: #666666;
    font-size: 12px;
    padding: 30px;
    margin-top: 20px;
}   
.footer-feedback .feedback-content textarea{
    width: 70%;
    height: 90px;
    border: 1px solid rgba(217, 217, 217, 0.6);
    padding: 10px;
}
.footer-feedback .feedback-content .jietu-base{
    margin-top: 15px;
}
.footer-feedback .feedback-content .jietu-base .j-feedback-button{
    width: 110px;
    height: 36px;
    line-height: 36px;
    border: 1px solid rgba(217, 217, 217, 0.6);
    background-color: #ffffff;
    color: #333333;
    font-size: 14px;
    margin-right: 10px;
    outline: none;
    vertical-align: middle;
}
.footer-feedback .feedback-content .jietu-base .j-feedback-button> i{
    margin-right: 5px;
}
.footer-feedback .feedback-content .jietu-base .feedback-phone{
    width: 170px;
    height: 36px;
    color: #333333;
    outline: none;
    font-size: 14px;
    padding: 0 15px;
    vertical-align: middle;
}
.footer-feedback .feedback-content .jietu-base .feedback-phone-tip{
    color: #666666;
    font-size: 12px;
    display: inline-block;
    margin-left:13px; 
}
.footer-feedback .feedback-content .button-base{
    margin-top: 25px;
}
.footer-feedback .feedback-content .button-base .feedback-primary-button{
    width: 110px;
    height: 36px;
    line-height: 36px;
    outline: none;
    color: #ffffff;
    font-size: 14px;
    background-color: #5DBDF9;
    border: none;
    margin-right: 10px;
}
.footer-feedback .feedback-content .button-base .feedback-block-button{
    width: 110px;
    height: 36px;
    line-height: 36px;
    outline: none;
    color: #5DBDF9;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid rgba(217, 217, 217, 0.6);
}
.footer-feedback .show-jietu{
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid rgba(217, 217, 217, 0.6);
    margin-right: 20px;
    position: relative;
}
.footer-feedback .show-jietu span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #5DBDF9;
    text-align: center;
    line-height: 17px;
    color: #ffffff;
    font-size: 16px;
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
}
.footer-feedback .hide {
    display: none;
}

.alert-box {
    font-size: 16px;
    display: block;
    font-weight: normal;
    padding: 12px 20px;
    position: relative;
    transition: opacity 300ms ease-out;
    background-color: #1496cc;
    border-radius: 6px;
    color: #fff;
  }
  .alert-box i {
    margin-right: 10px;
  }
  .alert-box.success {
    background-color: #2cd188;
  }
  .alert-box.warning {
    background-color: #ffa800;
  }
  .alert-box.info {
    background-color: #ffa800;
  }
  .alert-box.alert {
    background-color: #ff4931;
  }
  .alert-box.secondary {
    background-color: #e7e7e7;
  }
  .alert-box.radius {
    border-radius: 6px;
  }
  .alert-box .close {
    right: 0.22222rem;
    background: inherit;
    color: #333333;
    font-size: 1.22222rem;
    line-height: .9;
    margin-top: -0.61111rem;
    opacity: 0.3;
    padding: 0 6px 4px;
    position: absolute;
    top: 50%;
  }
  .alert-box-pop {
    position: fixed;
    left: 50%;
    font-weight: normal;
    opacity: .6;
    z-index: 5000;
  }
  
  .sidenav-menu{
    position: relative;
    width: 100%;
    height: 50px;
    color: #333333;
    font-size: 16px;
    background-color: #f5f5f6;
    line-height: 50px;
    padding-left: 20px;
    border-bottom: 1px solid #E3E3E3;
    cursor: pointer;
  }
  .sidenav-menu.hide{
      display:none;
  }
  .sidenav-menu .sidenav-menu-icon{
    float: right;
    height: 100%;
    width: 30px;
    text-align: center;
  }
  .sidenav-menu .sidenav-menu-icon i{
      margin-right: 10px;
  }
  .sidenav-menu .sidenav-menu-body{
    position: absolute;
    width: 758px;
    background-color: #FFFFFF;
    top: 0;
    left: 100%;
    left: 99%;
    z-index: 99;
    border: 1px solid #E8E8E8;
    box-shadow: 5px 9px 10px 0px rgba(5,19,43,0.07);
    padding-bottom: 30px;
    display: none;
    text-align: left;
  }
  .sidenav-menu .sidenav-menu-body::before{
      content: "";
      width: 10px;
      height: 10px;
      border-top: 1px solid #E8E8E8;
      border-left: 1px solid #E8E8E8;
      transform: rotate(-45deg);
      display: inline-block;
      position: absolute;
      left: -7px;
      background-color: #ffffff;
      top: 18px;
  }
  .sidenav-menu .sidenav-menu-body ul{
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
  }
  .sidenav-menu .sidenav-menu-body ul li{
      list-style: none;
  }
  .sidenav-menu .sidenav-menu-body ul li{
    list-style: none;
    width: 180px;
    height: 40px;
    line-height: 40px;
}
.sidenav-menu .sidenav-menu-body ul li.sidenav-menu-body-li-title{
    border-bottom: 1px solid #E8E8E8;
    color:#333333;
    font-size: 16px;
    font-weight:bold;
    height: 50px;
    line-height: 50px;
    margin-bottom: 5px;
}
  .sidenav-menu .sidenav-menu-body ul li a{
    color: #333333;
    font-size: 14px;
    text-decoration: none;
    }

    .sidenav-menu .sidenav-menu-body ul li a:hover{
        color: #5DBDF9;
        font-size: 14px;
    }
    .sidenav-menu .sidenav-menu-icon:hover{
        color: #5DBDF9;
    }
    .sidenav-menu .sidenav-menu-icon:hover .sidenav-menu-body{
        display: block;
    }