_book/
.vscode
book_en/_book/
book_en/_book_cache/
book_en/node_modules/
subbook/iot_platform/_book/
appdevelop/_book/
appdevelop/_book_cache/
appdevelop/node_modules/

hongkong/_book/
hongkong/_book_cache/
hongkong/node_modules/

integrated_development/node_modules/
integrated_development/_book/
integrated_development/_book_cache/
.idea/

